.mainfeature-container{
    padding: 10px 75px;
}
.heading {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #DB4444;
  }

.main-sale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 40px;
  }
  
  .flashsale {
    font-size: 36px;
    font-weight: 600;
  }
  
  .viewbtn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .viewbtn p {
    padding: 10px 20px;
    background-color: #DB4444;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Adjust margin between rows */
}

.column {
    flex: 1;
    margin-right: 10px; /* Adjust margin between columns */
}

.column.right-column {
    display: flex;
    flex-direction: column;
}

.column.right-column .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Adjust margin between rows in the right column */
}

.column:last-child {
    margin-right: 0; /* Remove margin from the last column to prevent extra space */
}

img {
    max-width: 100%;
    height: auto;
}
