.service-container {
    display: flex;
    justify-content: space-between; /* Distribute items evenly along the main axis */
    padding: 10px 175px;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text horizontally */
    padding: 20px;
}

.service-item img {
    width: 100px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
}
